.navbarContainer{
    display: flex;
    background-color: #1D174D;
}

.logo{
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: center;
}

.navItem{
    display: flex;
    align-items: center;
    flex: 8;
}

.links > a {
    color: #fff;
    text-decoration: none;
    padding: 1vh 2vh;
}

.profileButtonColumn{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.profileButton{
    cursor: pointer;
}

.roomTypeDrop {
    display: block;
    position: absolute;
    top: 5vh;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    color: black;
    list-style: none;
    width: 27vh;
    z-index: 20;
    align-items: center;
    align-content: center;
    /* border-radius: 0.5vh; */
    border: 1px solid rgb(206, 206, 206);
  }
  
  .roomTypeDrop > li {
    padding: 8px 8px;
    margin: 0px 6px;
    /* border-radius: 6px; */
    width: 90%;
    border: none;
    /* background-color: white; */
  }
  
  .roomTypeDrop > li:hover {
    background-color: hsl(247, 35%, 25%);
    color: white;
  }
  .bulkUpdateBtn > span {
    /* padding: 0 1vh; */
  }
  .bulkUpdateBtn {
    /* background-color: #00427D; */
    /* color: #fff; */
    padding: 0.5vh 3vh;
    border-radius: none;
    /* border: 1px solid #00427D; */
    display: flex;
    align-items: center;
  }
  .button {
    border: none;
    padding: 0px 10px;
    background-color: #B4D6F4;
    border: 1px solid #B4D6F4;
    border-radius: 6px;
    position: relative;
  }
  .button:hover {
    position: relative;
    background-color: rgb(149, 193, 235);
  }