.container {
  margin: 2vh;
}

.secondSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 2vh; */
  /* width: 80%; */
}

.secondSection > h3 {
  font-size: 3vh;
}

.roomTypeheading {
  width: 50%;
}

.dateContainer {
  background-color: blanchedalmond;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1vh 0vh;
  border-radius: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  /* text-align: center; */
  /* flex: 1; */
  /* margin-right: 10vh; */
}

.date > h4 {
  font-size: 2.5vh;
}

.date > p {
  font-weight: bold;
}

.thirdSection {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.otaContainer {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1vh;
  width: 47%;
}

.otaImage {
  height: 7vh;
  width: 7vh;
  /* margin: 0vh 4vh; */
  margin-right: 2vh;
}

.otaImage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.otaRoomPlans > h3 {
  font-size: 2vh;
  font-weight: bold;
}

.otaRoomPlans > h4 {
  font-size: 1.5vh;
  font-weight: bold;
}

.stockPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  width: 52%;
  /* padding: 1vh; */
}

.stockPrice {
  margin-right: 0.5vh;
  margin-left: -0.5vh;
}
.stockPrice > p {
  font-size: 1.5vh;
  font-weight: bold;
  /* margin: 4vh; */
  /* height: 100%; */
  /* margin: 1vh; */
  /* padding: 0vh 2vh; */
}

.pricing {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: blanchedalmond;
  padding: 1vh 0vh;
  margin-right: 1vh;
  border-radius: 10px;
}

.pricing > p {
  font-weight: bold;
  /* width: 80%; */
  /* height: 100%; */
}

.borderUnder {
  border-top: 1px solid black;
  width: 40%;
}
