.container{
  background-color: #EAF5FF;
}

.table {
  padding: 20px 40px;
  padding-top: 0;
  overflow: hidden;
  height: 100vh;
}

.topBarButtons::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100px;
  right: -100px;
  bottom: 0;
  background-color: #EAF5FF;
  border-bottom: 1px solid #EAF5FF;
  z-index: -1;
  border-top: 1px solid #EAF5FF;
}

.topBarButtons {
  position: relative;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

.buttonsWrapper {
  display: flex;
}

.buttonsWrapper > button {
  margin: 0 20px;
}

.topBar::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100px;
  right: -100px;
  bottom: 0;
  border-top: 1px solid #CEE4F8;
  border-bottom: 1px solid #CEE4F8;
  z-index: -1;
  box-shadow: 0px 1px 5px rgb(171, 170, 170);
  background-color: #CEE4F8;
}

.topBar {
  position: relative;
  background-color: #CEE4F8;
  z-index: 1;
}

.dateSection {
  margin: 0;
 
}

.dates {
  flex: 6.8;
  border-top: 1px solid #CEE4F8;
  border-bottom: 1px solid #CEE4F8;
  padding: 0;
}

.dateCards {
  margin: 0;
}

.dateSelector {
  display: flex;
  justify-content: flex-end;
  flex: 5.2;
  border-right: 1px solid #EAF5FF;
  border-bottom: 1px solid #CEE4F8;
  align-items: center;
  font-size: 20px;
  color: #2494d1;
  font-weight: 600;
}

.dateSelector > span {
  display: flex;
  align-items: center;
}

.dateCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  line-height: 18px;
  padding: 5px 0;
  border-right: 1px solid #EAF5FF;
}

.dateCard > span {
  font-size: 12px;
}

.dateCard > .boldDateText {
  font-size: 18px;
  font-weight: 700;
}

.buttonGroup {
  margin: 20px 0;
  font-size: 13px;
}
.button {
  border: none;
  padding: 0px 10px;
  background-color: #B4D6F4;
  border: 1px solid #B4D6F4;
  border-radius: 6px;
  position: relative;
}

.allRatesDropdownBtn {
  position: absolute;
  background-color: #fff;
  color: black;
  font-size: small;
  top: 30px;
  width: 16vw;
  padding: 1vh 1vh;
}

.allRatesDropdownBtn > h6 {
  text-align: left;
}

.button:hover {
  position: relative;
  background-color: rgb(149, 193, 235);
}
.buttons {
  flex: 9;
  display: flex;
}

.buttonHover {
  background-color: #2494d1;
  color: #fff;
  border: "2px solid #2085bb";
}
.buttonHover:hover {
  background-color: #136794;
}
.buttons > .inputItem {
  border-bottom: 0;
  border-left: 0;
  display: flex;
  margin: 0 10px;
  padding: 0;
  border-radius: 6px;
}
.buttons > .inputItem > span {
  background-color: #AFD8FE;
  padding: 5px 10px;
  border: 1px solid #AFD8FE;
  margin-left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.buttons > .inputItem > input {
  border: 1px solid #ddd;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 10px;
}
.buttons > span {
  display: flex;
  align-items: center;
  color: #2494d1;
}
.buttons > .button {
  margin-right: 15px;
}
.rightlinkText {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rightlinkText > .linkText:hover {
  color: #136794;
  text-decoration: underline;
}
.rightlinkText > .linkText {
  cursor: pointer;
  color: #2494d1;
  font-size: 14px;
}
.inputItem {
  padding: 0 10px;
}

.item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.heading {
  margin: 0 0;
  background-color: #AFD8FE;
}
.content {
  margin: 0 0;
}
.col {
  text-align: center;
  padding: 0;
  padding: 6px 0;
  border-right: 1px solid #ddd;
}
.Icon {
  flex: 0.2;
  padding-right: 0;
}
.leftSection {
  display: flex;
  justify-content: space-between;
  flex: 4;
  padding-right: 0;
  padding-left: 0;
  padding: 6px 0;
  border-right: 1px solid #ddd;
}
.leftSectionTop {
  display: flex;
  justify-content: space-between;
  flex: 3;
  padding-right: 0;
  padding-left: 0;
  padding: 6px 0;
  border-right: 0px solid #ddd;
}
.midSection {
  flex: 1;
  margin-left: 10px;
  padding-right: 0;
  padding: 6px 0;
  border-right: 1px solid #ddd;
}
.midSectionTop {
  flex: 2;
  margin-left: 10px;
  padding-top: 50;
  display: flex;
  padding-right: 0;
  padding: 6px 0;
  border-right: 1px solid #ddd;
}

.rightSection {
  flex: 6.8;
  padding-left: 0;
  padding-right: 0;
}
.rightSection > .data {
  justify-content: space-between;
  margin: 0;
}

.saveBtn > span {
  padding: 0 1vh;
}

.saveBtn {
  background-color: #22817B;
  color: #fff;
  padding: 0.5vh 3vh;
  border-radius: 1vh;
  border: 1px solid #22817B;
  display: flex;
  align-items: center;
}


.bulkUpdateBtn > span {
  padding: 0 1vh;
}
.bulkUpdateBtn {
  background-color: #00427D;
  color: #fff;
  padding: 0.5vh 3vh;
  border-radius: 1vh;
  border: 1px solid #00427D;
  display: flex;
  align-items: center;
}

.resetLink > span {
  padding: 0 1vh;
}

.resetLink {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 1vh;
  padding: 0.5vh 3vh;
  background-color: #0061B9;
}

.allRatesDropdownBtn{
  box-shadow: 0px 8px 10px #656a6c;
}

.allRatesDropdownBtn > h6 {
  margin: 0;
}

.roomsRatesButtons {
  padding: 2vh 0;
  border-bottom: 1px solid rgb(185, 185, 185);
}
.channelViewButtons {
  padding: 2vh 0;
}

.roomsRatesButtonsRow {
  margin: 0;
  padding: 0.5vh 0;
}

.roomsRatesButtonsColLeft {
  flex: 11;
  padding: 0.5vh 1vh;
  display: flex;
  align-items: center;
}

.roomsRatesButtonsColLeft:hover {
  background-color: #136794;
  color: #ddd;
  border-radius: 5px;
}

.roomsRatesButtonsColLeft > .roomsRatesButtonsColLeftIcon {
  padding: 0 1vh;
  display: flex;
  align-items: center;
}

.roomsRatesButtonsColRight {
  flex: 1;
  padding: 0.5vh 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomsRatesButtonsColRight:hover {
  background-color: #136794;
  color: #ddd;
  border-radius: 5px;
}

.channelsViewText {
  padding-top: 2vh;
}

.channelSelectionBtn {
  margin-left: 1vh;
  position: relative;
  background-color: #123452;
  color: #fff;
  padding: 0.5vh 4vh;
  border-radius: 0.5vh;
  border: 1px solid #123452;
}
.channelManagerFont {
  font-weight: 500;
  font-size: 2vh;
}

.shopModal {
  display: block;
  position: absolute;
  top: 5vh;
  padding: 10px 0;
  left: 8vh;
  background-color: rgb(255, 255, 255);
  color: black;
  list-style: none;
  width: 340px;
  z-index: 20;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
}

.shopModal > li > button {
  padding: 8px 8px;
  margin: 3px 6px;
  border-radius: 6px;
  width: 90%;
  border: none;
  background-color: white;
  /* background-color: rgb(51, 163, 233); */
}

.shopModal > li > button:hover {
  background-color: #136794;
  color: white;
}

.roomTypeDrop {
  display: block;
  position: absolute;
  top: 5vh;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  color: black;
  list-style: none;
  width: 20vh;
  z-index: 20;
  /* border-radius: 0.5vh; */
  border: 1px solid rgb(206, 206, 206);
}

.roomTypeDrop > li {
  padding: 8px 8px;
  margin: 3px 6px;
  /* border-radius: 6px; */
  width: 90%;
  border: none;
  background-color: white;
}

.roomTypeDrop > li:hover {
  background-color: #136794;
  color: white;
}

.ratePlanDrop {
  display: block;
  position: absolute;
  top: 5vh;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  color: black;
  list-style: none;
  width: 20vh;
  z-index: 20;
  /* border-radius: 0.5vh; */
  border: 1px solid rgb(206, 206, 206);
}

.ratePlanDrop > li {
  padding: 8px 8px;
  margin: 3px 6px;
  /* border-radius: 6px; */
  width: 90%;
  border: none;
  background-color: white;
}

.ratePlanDrop > li:hover {
  background-color: #136794;
  color: white;
}
